APP_NAME=JobAstra AI
APP_ENV=development
DEBUG=true
LLM_PROVIDER=name-of-your-llm-provider
LLM_MODEL=model-name-of-your-llm-provider
LLM_API_KEY=your-api-key
LLM_TEMPERATURE=0.0
LLM_TIMEOUT=30
LLM_MAX_RETRIES=3
EMBEDDING_MODEL=name-of-your-embedding-model
EMBEDDING_DEVICE=name-of-device-to-run-embedding-model-on
